body { 
background: url('C:\Users\paju\Desktop\GridLoadingEffects\images\3.jpg') no-repeat center center fixed;

-moz-background-size: cover;

-webkit-background-size: cover;

-o-background-size: cover;

background-size: cover;

} 