<!DOCTYPE html>
<html>

	<head>
	<title>LOG OUT </title>
	 <meta charset="UTF-8"> 
	 <link href='http://fonts.googleapis.com/css?family=Kaushan+Script:400,700|Merriweather' rel='stylesheet' type='text/css'>
	 <style>
	 body{
	  background-color: rgba(42,78,110,0.8);
	 }
	 h2{
	 z-index:20;
	 text-align:center;
	 margin: 200px auto;
	 font-size:50px;
	 color:white;
	 opacity:0.4;
	 font-family:'Kaushan Script';
	 }
	 p{
	 font-size:40px;
	 }
	 </style>
        {% load static %}
	</head>
<body>
	<h2>Kindly check your mail for retrieval of password !
	<p> Click  <a href="/login/">here</a> to login </p></h2>
	

	
</body>
</html>