<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
	{% load static %}
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" type="text/css" href="{% static 'default.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'component.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'materialize.min.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'navwhenloggedinprofile.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'cat.css' %}">
    </head>
    <body id="art">
	   <div id = "navbar"><h1 id="logo">Pinions:Categories</h1></div>
{% if check > 0 %}
<div class="navbutton"></div>

	{% for user_obj in user_objs %}
<div id = "navitems">
	
  <img src="{{MEDIA_URL}}{{user_obj.profilepic}}" class="profile-img"/>
  <p>{{user_obj.username}}</p>
  <hr>
<p id="desc">{{user_obj.description}}</p>
<hr>
 <div id="edit"><a id="hov" href="/edit_profile/">Edit Profile</a></div>

 <div id="logout"><a id="hov" href="/logout/">Log Out</a></div>
</div>
{% endfor %}
	<nav>

		<ul class="clearfix">

			<li class="togglebtn"><a id="circle" href="#"><span class="fontawesome-user"></span></a>

				<ul class="login">
        <dl>  

    <a href="/pinions/"><li id="home_nav">
      <!-- <div class="home-icon">
        <div class="roof">
          <div class="roof-edge"></div>
        </div>
        <div class="front"></div>
      </div-->
      <img id="home" src="{{MEDIA_URL}}img/home.gif">
    </li></a>
<a href="/help_pin/" ><li id="aboutus_nav">
      <!-- <div class="about-icon">
        <div class="head">
          <div class="eyes"></div>
          <div class="beard"></div>
        </div>
      </div> -->
      <img id="aboutus" src="{{MEDIA_URL}}img/aboutus.gif">
    </li></a>
	<a href="/display_cat/"><li id="cat_nav">
      <!-- <div class="work-icon">
        <div class="paper"></div>
        <div class="lines"></div>
        <div class="lines"></div>
        <div class="lines"></div>
      </div> -->
         <img id="pin" src="{{MEDIA_URL}}img/pin.gif">
    </li></a>
  

	
  </dl>
          
				</ul>

			</li>

		</ul>

	</nav>
	
		
{% else %}
	<nav>

		<ul class="clearfix">

			<li class="togglebtn"><a id="circle" href="#"><span class="fontawesome-user"></span></a>

				<ul class="login">
        <dl>  

    <a href="/pinions/"><li id="home_nav">
      <!-- <div class="home-icon">
        <div class="roof">
          <div class="roof-edge"></div>
        </div>
        <div class="front"></div>
      </div> -->
      <img id="home" src="{{MEDIA_URL}}img/home.gif">
    </li></a>
<a href="/help_pin/" ><li id="aboutus_nav">
      <!-- <div class="about-icon">
        <div class="head">
          <div class="eyes"></div>
          <div class="beard"></div>
        </div>
      </div> -->
      <img id="aboutus" src="{{MEDIA_URL}}img/aboutus.gif">
    </li></a>
	<a href="display_cat"> <li id="cat_nav">
      <!-- <div class="work-icon">
        <div class="paper"></div>
        <div class="lines"></div>
        <div class="lines"></div>
        <div class="lines"></div>
      </div> -->
        <img id="pin" src="{{MEDIA_URL}}img/pin.gif">
    </li></a>
   
    
	<a href="/login/"> <li id="login_nav">
      <!-- <div class="mail-icon">
        <div class="mail-base">
          <div class="mail-top"></div>
        </div>
      </div> -->
      <img id="login" src="{{MEDIA_URL}}img/login.gif">
    </li></a>
    <a href="/saveval/"> <li id="register_nav">
      <!-- <div class="mail-icon">
        <div class="mail-base">
          <div class="mail-top"></div>
        </div>
      </div> -->
       <img id="register" src="{{MEDIA_URL}}img/register.gif">
    </li></a>
  </dl>
          
				</ul>

			</li>

		</ul>

	</nav>
{% endif %}

      <img src="{{MEDIA_URL}}img/arts.gif" id="plate"/>
      
       
            <ul class="grid effect-5" id="grid">
            {% for obj in objs %}
                <li>
                    <div class="grid">
                        <a href="{{obj.link}}">
							
                            <img src="{{MEDIA_URL}}{{obj.docfile}}">
                            <p>{{obj.description}}</p>
								
                                <div class="chip">
                                    {{obj.usernames}}
									
                                   
                                    </div>
									<a href="/pin_it/{{obj.imglink}}">Pin It</a>
                        </a>
                    </div>
                </li>
            {% endfor %}
            </ul>
             
		{% load static %}
		<script src="{% static 'jquery-1.11.3.min.js' %}"></script>
        <script src="{% static 'modernizr.custom.js' %}"></script>
        <script src="{% static 'masonry.pkgd.min.js' %}"></script>
        <script src="{% static 'imagesloaded.js' %}"></script>
        <script src="{% static 'classie.js' %}"></script>
        <script src="{% static 'AnimOnScroll.js' %}"></script>
        <!--script src=="{% static 'food.js' %}"></script-->
		<script src="{% static 'navi.js' %}"></script>
		<script src="{% static 'cat.js' %}"></script>
        <script>
            new AnimOnScroll( document.getElementById( 'grid' ), {
                minDuration : 0.4,
                maxDuration : 0.7,
                viewportFactor : 0.2
            } );
        </script>
    </body>
</html>